# ==========================================
# 1. SISTEMA Y EDITORES (IDE)
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject
.cursorignore
.cursorindexingignore

# ==========================================
# 2. ENTORNOS VIRTUALES Y DEPENDENCIAS
# ==========================================
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.pixi/
__pypackages__/

# Gestión de paquetes (Descomentar si prefieres NO subir los locks)
# Pipfile.lock
# poetry.lock
# uv.lock
# pdm.lock

# ==========================================
# 3. PYTHON: CACHE, COMPILACIÓN Y RENDIMIENTO
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.eggs/
build/
dist/
wheels/
*.spec

# ==========================================
# 4. TESTING, LINTING Y CALIDAD DE CÓDIGO
# ==========================================
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
.coverage.*
.cache
htmlcov/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.nox/
.tox/
.pyre/
.pytype/

# ==========================================
# 5. SECRETOS, LOGS Y BASE DE DATOS
# ==========================================
.env
.envrc
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.pypirc

# ==========================================
# 6. DATOS Y ARCHIVOS DE USUARIO
# ==========================================
*.zip
*_bak*
/data
/docs
!README.md
opencode.json
/03_dw_pipeline/assets

# ==========================================
# 7. FRAMEWORKS Y HERRAMIENTAS ESPECÍFICAS
# ==========================================
# Jupyter & IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Documentación (Sphinx / MkDocs)
docs/_build/
/site

# Web (Django / Flask)
instance/
.webassets-cache

# Otros (Celery / Scrapy / Marimo)
celerybeat-schedule
celerybeat.pid
.scrapy
.abstra/
__marimo__/